<!DOCTYPE html>
<html>
<head>
  <title><%= resume.name %></title>
</head>
<body>
  <h1><%= resume.name %></h1>
  <p>Email: <%= resume.email %></p>
  <p>Skills: <%= resume.skills.join(', ') %></p>
</body>
</html>
