<head>
    <title>Resume and Portfolio</title>
</head>
<body>
    <form method="post", action="/githubGenerate">
        <label>Enter Username</label>
        <input type="text" name="username">
        <button name="button" value="resume" type="submit">Generate Resume</button>
        <button name="button" value="portfolio" type="submit">Generate Portfoilo</button>
    </form>
</body>