<html>
    <head>
        <title>Resume and Portfolio</title>
    </head>
    <body>
        <h1 style="text-align: center;">Resume</h1>
        <h1>Name: <%= name %></h1>
        <p>Summary</p>
        <p><%= bio %></p>
        

        
    </body>
</html>