<html>
    <head>
        <title>Resume and Portfolio</title>
    </head>
    <body>
        <h1 style="text-align: center;">Resumes</h1>
        <ul>
        <% resumes.forEach(function(resume){ %>
            <li><%= resume.name %></li>
        <%});%>
        </ul>
    </body>
</html>