<html>
    <head>
        <title>Resume and Portfolio</title>
    </head>
    <body>
        <h1 style="text-align: center;">Resumes</h1>
        <ul>
        <% resumes.forEach(function(resume){ %>
            <li>
                <a href="/gitResume/<%= resume._id %>">
                  <%= resume.name %>
                </a>
            </li>
        <%});%>
        </ul>
    </body>
</html>